<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>

<body>

<h2>Add Employee</h2>


<form method="POST">

{% csrf_token %}


<label>Employee ID</label>
<input type="text" name="emp_id" required>

<br><br>


<label>Name</label>
<input type="text" name="name" required>

<br><br>


<label>Phone Number</label>
<input type="text" name="phone" required>

<br><br>


<label>Email</label>
<input type="email" name="email" required>

<br><br>


<label>Salary</label>
<input type="text" name="salary" required>

<br><br>


<label>Date of Join</label>
<input type="date" name="date_of_join" required>

<br><br>


<label>Department</label>
<input type="text" name="department_name" required>

<br><br>


<label>Subject</label>
<input type="text" name="subject" required>

<br><br>


<button type="submit">
    Add Employee
</button>


</form>


<a href="{% url 'dashboard' %}">
Back
</a>


</body>
</html>