<!DOCTYPE html>
<html>

<head>
<title>Dashboard</title>
</head>


<body>


<h1>Employee Dashboard</h1>


<a href="{% url 'add_employee' %}">
Add Employee
</a>

&nbsp;&nbsp;


<a href="{% url 'logout' %}">
Logout
</a>


<br><br>


<table border="1">


<tr>

<th>Emp ID</th>

<th>Name</th>

<th>Phone</th>

<th>Email</th>

<th>Salary</th>

<th>Date Of Join</th>

<th>Department</th>

<th>Subject</th>

<th>Edit</th>

<th>Delete</th>


</tr>



{% for emp in employees %}


<tr>


<td>
{{ emp.emp_id }}
</td>


<td>
{{ emp.name }}
</td>


<td>
{{ emp.phone }}
</td>


<td>
{{ emp.email }}
</td>


<td>
{{ emp.salary }}
</td>


<td>
{{ emp.date_of_join }}
</td>



<td>

{% for dept in emp.department_set.all %}

{{ dept.department_name }}

{% empty %}

No Department

{% endfor %}

</td>



<td>

{% for dept in emp.department_set.all %}

{{ dept.subject }}

{% empty %}

No Subject

{% endfor %}

</td>




<td>

<a href="{% url 'edit_employee' emp.id %}">
Edit
</a>

</td>



<td>

<a href="{% url 'delete_employee' emp.id %}">
Delete
</a>

</td>



</tr>


{% empty %}

<tr>

<td colspan="10">
No Employees Found
</td>

</tr>


{% endfor %}



</table>



</body>

</html>